.title {
  font-size: 1.5rem;
}

.container {
  background-color: #f6f6f6;
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "header  header"
    "sidebar main";
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 2fr;
  min-height: 100%;
}

.header {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0 0 0 / 12%);
  grid-area: header;
  padding: 1rem;
}

.sidebar {
  grid-area: sidebar;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

.main {
  grid-area: main;
  padding-bottom: 1rem;
  padding-right: 1rem;
}

.panel {
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0 0 0 / 12%);
  padding: 1rem;
}

.panel + .panel {
  margin-top: 1rem;
}

.panel-headline {
  font-size: 1.25rem;
}

.panel-text {
  margin-top: 1rem;
}

.panel-list {
  margin-top: 1rem;
  padding-left: 1.5rem;
}

.fallback {
  width: 4rem;
  height: 4rem;
  border: 0.5rem #ddd solid;
  border-top: 0.5rem #55c500 solid;
  border-radius: 50%;
  animation: fallback-animation 800ms infinite linear;
}

@keyframes fallback-animation {
  100% { 
    transform: rotate(360deg); 
  }
}

.fallback-contaner {
  display: grid;
  height: 100%;
  place-items: center;
  margin-top: 1rem;
  width: 100%;
}
