.title {
  font-size: 1.5rem;
}

.container {
  background-color: #f6f6f6;
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "header  header"
    "sidebar main";
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 2fr;
  min-height: 100%;
}

.header {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0 0 0 / 12%);
  grid-area: header;
  padding: 1rem;
}

.sidebar {
  grid-area: sidebar;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

.main {
  grid-area: main;
  padding-bottom: 1rem;
  padding-right: 1rem;
}

.panel {
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0 0 0 / 12%);
  padding: 1rem;
}

.panel + .panel {
  margin-top: 1rem;
}

.panel-headline {
  font-size: 1.25rem;
}

.panel-text {
  margin-top: 1rem;
}

.panel-list {
  margin-top: 1rem;
  padding-left: 1.5rem;
}
